<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<!-- crash -->
<% if @proba==0%>
<div class="container-fluid crash-img">
  <h3 class="crash-text"> CRASSHHHH !!!!</h3>
</div>
<%end%>

<!-- X1 -->
<% if @proba==1%>
<div class="container-fluid x1-img">
  <h3 class="x1-text"> X1 Pas de profit..</h3>
</div>
<h3 class="x1-text2"> La Bourse annonce une hausse des actions </h3>
<%end%>

<% if @proba==2%>
<div class="container-fluid x1-img">
  <h3 class="x1-text"> X1 Pas de profit..</h3>
</div>
<h3 class="x1-text2"> La Bourse annonce une hausse des actions </h3>
<%end%>

<% if @proba==3%>
<div class="container-fluid x1-img">
  <h3 class="x1-text"> X1 Pas de profit..</h3>
</div>
<h3 class="x1-text2"> La Bourse annonce une hausse des actions </h3>
<%end%>

<!-- x2 -->
<% if @proba==4%>
<div class="container-fluid x2-img">
  <h3 class="x2-text"> X2 votre mise a doublé !!</h3>
</div>
<%end%>

<% if @proba==5%>
<div class="container-fluid x2-img">
  <h3 class="x2-text"> X2 votre mise a doublé !!</h3>
</div>
<%end%>

<% if @proba==6%>
<div class="container-fluid x2-img">
  <h3 class="x2-text"> X2 votre mise a doublé !!</h3>
</div>
<%end%>

<!-- x3 -->
<% if @proba==7%>
<div class="container-fluid x3-img">
  <h3 class="x3-text"> X3 votre mise a triplé !!</h3>
</div>
<%end%>

<% if @proba==8%>
<div class="container-fluid x3-img">
  <h3 class="x3-text"> X3 votre mise a triplé !!</h3>
</div>
<%end%>

<% if @proba==9%>
<div class="container-fluid x3-img">
  <h3 class="x3-text"> X3 votre mise a triplé !!</h3>
</div>
<%end%>

